root = true

# Let's keep it short/minimal, with comments, so it's clear what is enforced in .editorconfig and why.


[*]

charset = utf-8
end_of_line = lf

# file size; diffs on small devices
indent_size = 2

indent_style = space

# simpler adhoc regular expressions search/replace
insert_final_newline = true

max_line_length = 120
tab_width = 2
trim_trailing_whitespace = true
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true


[{*.kt,*.kts}]

# new most official defaults on top so can be overridden below
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL

# No aligns at all - too fancy/problematic
ij_kotlin_align_in_columns_case_branch = false
ij_kotlin_align_multiline_binary_operation = false
ij_kotlin_align_multiline_extends_list = false
ij_kotlin_align_multiline_method_parentheses = false
ij_kotlin_align_multiline_parameters = true
ij_kotlin_align_multiline_parameters_in_calls = false

# Trailing commas great for diffs; rearranging lines
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

ij_kotlin_imports_layout = *
