*.iml
.gradle
.kotlin
/local.properties
/.idea
/build
/kground/build
/kgroundx/build
/kground-io/build
/kgroundx-io/build
/kgroundx-maintenance/build
/kgroundx-experiments/build
/kgroundx-workflows/build
/kgroundx-jupyter/build
/kgroundx-jupyter/src/jvmMain/kotlin/gitignored
/kgroundx-app/build
/kgroundx-app/src/main/kotlin/gitignored
my.gradle.log
